.login {
  width: 300px;
  margin: 150px auto 0;
  background-color: #fff;
  padding: 30px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #aaa;
  }

  .actions {
    display: flex;
    justify-content: center;
  }
}
