*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html, body, #main-root {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
